{# inherit master layout #}
{% extends 'master.html' %}

{% block content %}
<div class="auth-box">
  <div class="auth-title">
    <a href="/"><b>Marei's Blog</b></a>
  </div>
  <!-- /.auth-logo -->
  <div class="auth-box-body">
    <p class="auth-box-msg">Register a new membership</p>

    <form action="/signup" method="post">
      <div class="form-group has-feedback {{has_error_username}}">
        <input name="username" type="text" class="form-control" placeholder="Username" value="{{username}}">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <span class="help-block">
          <strong>{{error_username}}</strong>
        </span>
      </div>
      <div class="form-group has-feedback {{has_error_email}}">
        <input name="email" type="text" class="form-control" placeholder="Email (optional)" value="{{email}}">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <span class="help-block">
          <strong>{{error_email}}</strong>
        </span>
      </div>
      <div class="form-group has-feedback {{has_error_password}}">
        <input name="password" type="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span class="help-block">
          <strong>{{error_password}}</strong>
        </span>
      </div>
      <div class="form-group has-feedback {{has_error_confirm}}">
        <input name="confirm_password" type="password" class="form-control" placeholder="Retype password">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        <span class="help-block">
          <strong>{{error_confirm}}</strong>
        </span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block">Sign up</button>
        </div>
    </form>

    <div class="row">
      <!-- /.col -->
      <div class="col-xs-12 auth-link">
        <a href="/signin" class="text-center ">I already have a membership</a>
      </div>
    </div>

  </div>
  <!-- /.auth-box-body -->
</div>
<!-- /.auth-box -->

{% endblock %}